div{
    background-color:tomato;
    padding: 10px;
    margin-bottom :10px;

}
p{
    background-color: blue;
}
h1{
    border: 20px;
    bottom: 30px;
}
a{
    background-color: chocolate;
    viewport-fit: 10px;
    border: 20px;
}